<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie</title>
</head>
<body>
    <form action="/movies/add" method="POST">
        <div class="input">
            <label for="name">Name:</label>
            <input type="text" name="title" required>
        </div>

        <div class="input">
            <input type="hidden" name="type" value="movie">
        </div>

        <div class="input">
            <label for="year">Year:</label>
            <input type="number" name="year">
        </div>

        <div class="input">
            <label for="runTime">Run Time:</label>
            <input type="number" name="runTime">
        </div>

        <div class="input">
            <label for="description">Description:</label>
            <textarea type="text" name="description"></textarea>
        </div>

        <div class="input">
            <label for="wantOrHave">Name:</label>
            <select name="wantOrHave">
                <option value=0>Want</option>
                <option value=1>Have</option>
            </select>
        </div>

        <input type="submit" name="" value="Submit"/>
    </form>
</body>
</html>