<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Menu</title>
  </head>
  <body>
    <h1>Main Menu</h1>
    
    <div>
      <form action="/movies">
        <input type="submit" value="Movies">
        <input type="hidden" name="user" value="<%= user.id %>">
      </form>

      <form action="/tv">
        <input type="submit" value="TV Shows">
      </form>

      <form action="/games">
        <input type="submit" value="Video Games">
      </form>
    </div>
  </body>
</html>
